/*

Brand Colors:
Background: #e6f4ff
            #e7f4fd
Green: #63bd8a
Red: #bf3638
White: #fffefe
Blue: #415e84
Darg Gray: #222222

*/

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: #e7f4fd;
  text-align: center;
  overflow-x: hidden;
}





h1 {
  font-size: 1.84rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: Orbitron, monospace;
  color: #fffefe;
}

h2 {
  display: inline-block;
  font-size: 1.66rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: Orbitron, monospace;
  text-transform: uppercase;
  border-radius: 6px;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Orbitron, monospace;
}

h4 {
  font-weight: 400;
  font-size: 0.9rem;
  font-family: Orbitron, monospace;
}

p, li {
  font-family: Oxanium, sans-serif;
}

li {
  margin-left: 1em;
}

input, textarea {
  font-size: 0.9rem;
  margin: 0.4em 0 1em 0;
  padding: 0.3em;
  border: 1px solid #222222;
  font-family: Oxanium, Sans-Serif;
  width: 80%;
}

button {
  display: block;
  font-size: 0.95rem;
  padding: 0.5em 3em;
  border: 1px solid #222222;
  font-family: Oxanium, Sans-Serif;
  background: #e7f4fd;
  font-weight: 550;
  margin-top: 1em;
}

.spacer {
  margin: 0 1rem;
}

.vertical-spacer {
  height: 0;
  border: 1px solid #222;
}

.horizontal-spacer {
  width: 0;
  border: 1px solid #222222;
}

.winged-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.winged-header > .vertical-spacer {
  width: 15%;
  max-width: 230px;
  border-width: 2px;
  border-radius: 2px;
}

.winged-header > h2 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.pdf-viewer {
  min-height: 90vh;
}





#headshot {
  border-radius: 80px;
  border: 2px solid #222222;
}

.card {
  display: inline-block;
  background: #fffefe;
  border-radius: 6px;
  padding: 0.8em 3em;
  margin: 1em 0;
}

.block-card {
  width: 75%;
  text-align: left;
}

.block-card > h2 {
  color: #63bd8a;
  font-size: 1.2rem;
  padding: 0;
  margin-bottom: 0.6em;
  border-bottom: 3px solid black;
  border-radius: 0;
}

.block-card > p {
  font-size: 0.95rem;
  line-height: 150%;
}





#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem 0 0.4rem 0;
  width: 100%;
  height: 15vh;
  color: #fffefe;
  background: #222222;
  text-align: center;
  z-index: 3;
}

#navbar > ul {
  display: flex;
  padding: 0 0 0.5rem 0;
  width: 100%;
  background: #222222;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-top: 7px;
}

/*
  position: absolute;
  left: 90%;
*/

.nav-item {
  margin-left: 0;
  color: #fffefe;
  font-family: Oxanium, sans-serif;
  padding: 0.46em 3.6em;
  transition: background ease 450ms;
  text-decoration: none;
  border-radius: 6px;
}

.nav-item:hover {
  background: black;
}

.nav-item > a {
  all: unset;
}

#navbar .selected {
  background: black;
  color: #63bd8a;
  
}

#landing-graphic {
  height: 81vh;
  border-bottom: 2px solid #222222;
  background-image: url('../assets/landing-background.jpg');
  background-size: cover;
  background-position-y: 18%;
  background-position-x: center;
}





#courses-dropdown {
  position: absolute;
  width: 100%;
  max-height: 80vh;
  display: none;
  background: #222222e3;
  color: #fffefe;
  border-bottom: 2px solid #fffefe;
  z-index: 2;
  margin-top: 15vh;
}

.dropdown-active {
  display: flex !important;
}

#course-selection-con {
  width: 18%;
  overflow: auto;
  background: #22222288;
  padding-bottom: 3rem;
}

#course-selection-con > .selected {
  border-right: none;
  color: #63bd8a;
  background: #444444;
}

.course-short-title {
  border: 2px solid #fffefe;
  line-height: 110px;
}

#course-content-con {
  width: 82%;
  padding: 1rem;
  overflow-y: scroll;
}

#course-content {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

#course-content h3 {
  margin-bottom: 0.5em;
}

#content-header {
  margin: 1em 0 1em 5%;
  color: #bf3638;
  border-color: #fffefe;
}

#course-paragraph, #course-bullets {
  width: 40%;
  line-height: 150%;
  border: 2px solid #fffefe;
  border-radius: 6px;
  background: #222222;
  text-align: left;
  padding: 1.3em;
}





/*#goal-section {*/
/*  width: 90%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  margin: 1rem auto 0 auto;*/
/*}*/

/*#goal-section > img {*/
/*  width: auto;*/
/*  height: 100%;*/
/*}*/

/*.goal-card {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  width: 90%;*/
/*  margin: 0.8em auto 0.7em auto;*/
/*}*/

/*.goal-card > p {*/
/*  width: 73%;*/
/*}*/

#landing-header {
  display: inline-block;
  width: 60%;
  margin: 1em 0;
  padding: 1.21em 4.5rem;
  text-transform: uppercase;
}

#goal-section {
  width: 85%;
  margin: 0.5rem auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
}

#goal-section > #img-con {
  grid-row: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#goal-section > #img-con > img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.goal-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.goal-card > p {
  width: 73%;
}





#contact-options > a {
  color: #415e84;
}

#contact-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
}

#contact-form > div, #form-message {
  width: 100%;
}

#contact-form h3 {
  font-size: 1.1rem;
}

#form-button {
  transition: background, color 160ms ease;
}

#form-button:hover {
  background: #63bd8a;
  color: #fffefe;
}





#footer {
  background: #222222;
  margin-top: 4rem;
  color: #fffefe;
  padding: 0.7rem 1.5rem;
  text-align: left;
}

#footer > #top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

#footer p {
  font-size: 0.8rem;
  text-align: left;
}

#footer > div {
  height: 100%;
}

#footer > #bottom > a {
  all: unset;
  color: #fffefe;
  font-size: 0.6rem;
  font-family: Oxanium, sans-serif;
}
